/***** General *****/
.tab { width: 20px; display: inline-block; }
.double { width: 40px; }
.triple { width: 60px; }
.quad { width: 80px; }
.quint { width: 100px; }
.sext { width: 120px; }
#inset,
#chains,
#diaspora,
#seja,
#violence,
#bumblebees,
#canyon {
    position: relative;
    padding: 50px 20px;
}

/***** INSET *****/
/*#cfe2ed
#fefad6*/
#inset {
  padding: 0;
  overflow-x: hidden;
}
.inset-section { position: relative; }
.inset-bg {
    position: absolute;
        top: -5%;
        z-index: 1;
    height: 70%;
    width: 100%;
    background: #cfe2ed;
}
.inset-img {
    margin: 5%;
    position: relative;
        z-index: 2;
    display: block;
    width: 50%;
    height: auto;
    /*transition: all .001s ease;*/
}
.inset-img img {
    width: 100%;
    height: auto;
}
#inset-bg-2 {
    bottom: -5%;
    top: auto;
    background: #fefad6;
}
#inset-img-2 { left: 40%; }
#inset-2-text,
#inset-3-text {
    display: inline-block;
    position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    margin: 6% 0 4% 0;
}
#inset-2 .inset-img {
    margin: 20px auto;
}
#inset-bg-3 {
    background: #fefad6;
    bottom: -5%;
    top: auto;
    width: 50%;
    height: 50%;
}
#inset-img-6 { margin: 0 auto; }
#inset-img-6 img {
    position: absolute;
        top: 0;
        z-index: 1;
}
#inset-img-6-2 { right: 0; }
#inset-img-6-3 { right: 0; bottom: 0; left: auto; }
#inset-img-6 img:first-child { position: relative; z-index: 0; }
#inset-4 {
    min-height: 100vh;
}
#inset-bg-4 {
    right: 0;
    top: -25%;
    width: 50vw;
    height: 50%;
}
#inset-bg-5 {
    right: 0;
    top: auto;
    bottom: 0;
    width: 50vw;
    height: 50%;
}
#inset-img-7 {
    position: relative;
    margin: 50vh auto 0 auto;
}

@media (max-width: 550px) {
    #inset-img-2 { left: 10%; }
    #inset-2-text,
    #inset-3-text {
        width: 80%;
        font-size: 12px;
    }
    .inset-img {
        width: 80%;
    }
}

/***** Chains *****/
#chains {
    background: #cfcece;
    /*color: white;*/
}
#chains-img {
    position: absolute;
        right: 5%;
        bottom: 5%;
    width: 40%;
    max-width: 700px;
}
#chains-img img {
    width: 100%;
    height: auto;
}
#chains-content{
    width: 50%;
    max-width: 800px;
}
@media (min-width: 2000px) {
    #chains { min-height: 100vh; }
    #chains-content { position: absolute; right: 55%; }
    #chains-img { left: 55%; }
}
@media (max-width: 550px) {
    #chains-content {
        width: 80%;
        margin: 0 auto;
    }
    #chains-img {
        position: relative;
        width: 80%;
        left: 20%;
    }
}

/***** Diaspora *****/
#diaspora,
#seja {
    background-image: url('../img/hans-img/diaspora_1.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    color: white;
}
#diaspora-content,
#seja-content {
    position: relative;
        z-index: 6;
        left: 60%;
        transform: translate(-50%, 0);
    color: black;
    background: white;
    width: 70%;
    max-width: 1400px;
    padding: 40px;
}
/*#diaspora {
    padding-top: calc(400px + 5vh);
}*/
#diaspora-title {
    position: absolute;
        top: calc(200px + 5vh);
        left: 5vw;
        z-index: 6;
    text-align: left;
}
#diaspora-finger,
#diaspora-hand,
#seja-finger,
#seja-hand {
    position: absolute;
        top: 5vh;
        left: 0;
        z-index: 5;
    width: 40%;
    max-width: 800px;
}
#diaspora-finger,
#seja-finger { z-index: 7; }
#diaspora-finger img,
#diaspora-hand img,
#seja-hand img,
#seja-finger img {
    width: 100%;
    height: auto;
}


/***** Seja *****/
#seja {
    padding-bottom: calc(200px + 5vh);
    padding-top: 200px;
    margin-top: -1px;
    overflow-x: hidden;
}
#seja-title {
    /*position: absolute;*/
        /*left: 5vw;
        top: 50px;*/
    text-align: left;
}

#seja h1 {
  text-align: left;
}
#seja-hand,
#seja-finger {
    bottom: 5vh;
    right: 0;
    left: auto;
    transform: rotate(180deg);
}
#seja-content{
    min-width: 500px;
    width: 45%;
    max-width: 600px;
}
#seja-content h6 {
    font-weight: 700;
    padding: 0;
    margin: 15px;
    margin-left: 0;
}
/*#seja-content h6:nth-child(1) { text-align: right; }
#seja-content p:nth-child(2) {
    text-align: right;
}*/

@media (max-width: 550px) {
    #diaspora-content {
        width: 80%;
        left: 50%;
        top: 8vh;
    }
    #seja-content {
        width: 100%;
        min-width: 0;
        right: 0;
    }
    #diaspora-title { top: calc(100px + 5vh); }
    #diaspora-finger,
    #diaspora-hand,
    #seja-finger,
    #seja-hand {
        width: 80%;
    }
}

@media (min-width: 2000px) {
    #seja { padding-top: 0; }
    #seja-content { left: 75%; }
}



/***** Violence *****/
.violence-title {
    position: absolute;
    width: 30%;
}
.violence-title h5 { text-align: center; }
#violence-title-1 .character { width: 27px; }
.violence-content {
    position: relative;
    padding-top: 20px;
    width: 500px;
}
#violence-1,
#violence-title-2 {
    left: 15%;
}
#violence-2,
#violence-title-1 {
    left: 55%;
}
#violence-1 { padding-bottom: 50px; }
.violence-line {
    background: black;
    display: inline-block;
    width: 100%;
    height: 15px;
    line-height: .5;
}
.p-text {
    display: inline-block;
    padding: 0 30px 0 0;
    background: white;
    line-height: .75;
    height: 130%;
    margin-top: -5%;
    margin-left: -1px;
}
#violence-section-2 {
    padding: 50px;
    margin: auto -20px;
    width: calc(100% + 40px);
    height: auto;
    background: black;
    color: white;
}
#violence-title-2 h2 {
    font-size: 70px;
}
#violence-2 .violence-line {
    background: white;
}
#violence-2 .p-text {
    background: black;
    padding: 0 20px;
}
.violence-bar-2 {
    display: inline-block;
    width: 60%;
    height: 15px;
    background: yellow;
}
@media (max-width: 1400px) {
    .violence-title {
        position: relative;
        width: 100%;
    }
    #violence-1, #violence-2, #violence-title-1, #violence-title-2 {
        left: 0;
        width: 100%;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    #violence-title-2 h1 { font-size: 70px; }
    #violence-title-2 .sext { width: 90px; }
    #violence-title-2 h2 {
        font-size: 50px;
        margin: 0 -40px;
    }
}

@media (max-width: 400px) {
  #violence .p-text {
    font-size: 5vw;
  }

  #violence-title-1 h2 { font-size: 16.5vw; }

  #violence-title-1 .tab { width: 5vw; }
  #violence-title-1 .character { width: 6.5vw; }
  #violence-title-1 .sext { width: 22.5vw; }
  #violence-title-1 .triple { width: 15vw; }
  .violence-line {
    height: 5vw;
  }

}

/***** Bumblebees *****/
#bumblebees {
    margin-top: -100px;
}
#bumblebees-1,
#bumblebees-2 {
    position: absolute;
        z-index: 0;
    height: 50%;
    margin: 0 -20px;
    width: 100%;
    background-image: url('../img/hans-img/bumblebees_1.JPG');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}
#bumblebees-2 {
    top: 50%;
    background-image: url('../img/hans-img/bumblebees_2.JPG');
}
#bumblebees-content {
    position: relative;
        z-index: 5;
        top: 50%;
    background: white;
    padding: 40px;
    margin: 200px 100px;
    width: 60%;
    max-width: 1000px;
}
#bumblebees-title {
    position: absolute;
        z-index: 6;
        top: 50%;
        transform: translate(0, -50%);
        left: 60%;
    color: white;
    text-align: left;
    mix-blend-mode: difference;
}
@media (min-width: 2000px) {
    #bumblebees { min-height: 100vh; }
    #bumblebees-content {
        position: absolute;
            top: 50%;
            right: 40%;
            transform: translate(0, -50%);
    }
}
@media (max-width: 1350px) {
    #bumblebees-title {
        position: relative;
            top: 20px;
            left: 0;
            transform: translate(0, 0);
    }
    #bumblebees h5 {
      text-align: center;
    }
    #bumblebees-content {
        width: 80%;
        top: 0;
        left: 10%;
        right: auto;
        transform: translate(0, 0);
        margin: 0;
    }
}

@media (max-width: 500px) {
  #bumblebees h1 {
    font-size: 15vw;
  }
}

/***** Chaco *****/
#chaco-title {
    text-align: right;
}
#chaco-content {
    position: relative;
        left: 60%;
    width: 50%;
    max-width: 500px;
    padding: 50px 0;
    background: white;
}
#canyon {
    background: url('../img/hans-img/chaco.png');
        background-position: left bottom;
        background-size: 50%;
        background-repeat: no-repeat;
}
@media (max-width: 550px) {
    #chaco-content {
        width: 80%;
        left: 20%;
        padding-left: 20px;
    }
}
